div {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link, a:visited, a:hover, a:active {
    color: skyblue;
}
    

.mobile-container {
    margin: auto;
    display: grid;
    height: 64vh;
    grid-template-columns: 2fr;
    grid-template-rows: 0.4fr 0.4fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 0.4fr;
    grid-template-areas:
        "navbar"
        "header"
        "content1"
        "content2"
        "content3"
        "image1"
        "image2"
        "footer";
    }

#navbar {
    height: 7vh;
    background-color: royalblue;
    grid-area: navbar;
}

#content1 {
    height: 25vh;
    background-color: grey;
    grid-area: content1;
    padding: 20px;
}

#content2 {
    height: 25vh;
    background-color: grey;
    grid-area: content2;
}

#content3 {
    height: 25vh;
    background-color: grey;
    grid-area: content3;
}

#image1 {
    height: 25vh;
    background-color: lightgreen;
    grid-area: image1;
}

#image2 {
    height: 25vh;
    background-color: lightgreen;
    grid-area: image2;
}

header {
    height: 7vh;
    background-color: orange;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 7vh;
    background-color: orange;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 550px) {
    #navbar {
        height: 7vh;
    }

    .mobile-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 0.4fr;
        grid-template-areas:
            "navbar"
            "header"
            "content1"
            "content2"
            "content3"
            "image1"
            "image2"
            "footer";
    }
}
