body
  {
    background-color: cadetblue;
    text-align: center;
  }

  #idCard
  {
    margin: 4em auto;
    font-family: 'Roboto', sans-serif;
  }

  label
  {
    font-weight: bold;
  }
  input
  {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
  }

  img {

  width: 90px;

  height: 90px;

  float: left;

  }

  #idCard {

  background-color: lightpink;

  border: 5px solid black;

  border-radius: 15px;

  height: 14em;

  width: 25em;

  }

  #postFullName
  {
    font-size: 1.8em;
    text-align: center;
  }
  #postAge
  {
    text-align: left;
    margin-left: 0.4em;
  }
  #postPhoneNumber
  {
    text-align: left;
    margin-left: 0.4em;
  }
  #postAddress
  {
    text-align: left;
    margin-left: 0.4em;
  }
